body {
	font-family: helvetica, sans-serif;
	font-size: 12pt;
}

fieldset {
	border: solid 1px #eee;
	margin: 8px 0px;
	padding: 16px 8px;
	width: 16rem;
}

fieldset label {
	display: inline-block;
	font-size: 0.8em;
	width: 5rem;
	text-align: right;
}

fieldset input {
	margin: 2px 0px;
}

fieldset input[type="image"],
fieldset input[type="submit"] {
	margin: 4px 0px;
	margin-left: 5.2rem;
}

form#signup,
form#verify,
form#reset,
form#change {
	display: none;
}

.error {
	font-size: 0.9rem;
	font-weight: bold;
	color: orange;
}
